{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>
        <a href="/">{{ animal.id_animal }}</a>
    </h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <b> Changer :<br> </b> <br> {{ form.as_ul }} <br>
        <button type="submit" class="btn btn-outline-light"> OK </button>
            <a href="{% url 'animal_list' %}"> Back </a>
    </form>
</div>
{% if message != ''%}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endif %}
 
 
{% endblock %}
 
 
